/**********Home**********/
.home-component {
    color: #ec5e62;
    font-family: 'Abril Fatface', cursive;
}

/**********About**********/

/**********Project**********/
.project-component {
    font-size: 50px;
}

/**********Contact**********/

/*desktop version*/
@media (min-width: 768px) {

}