/**********Home**********/
.home-component {
    color: red;
    font-family: 'Abril Fatface', cursive;
}

/**********About**********/

/**********Project**********/
.project-component {
    font-size: 50px;
}

/**********Contact**********/

/*desktop version*/
@media (min-width: 800px) {

}