* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
/**********Home**********/
.home-component {
    /* color: #ec5e62; */
    font-family: 'Abril Fatface', cursive;
}
.list1{
    font-size: 25px;
    color: #e2555c;
}
.hero-image{
    /* position: absolute;
    top: 0;   
    position: relative; */
    width: 100%;
    height: 70vh;
    border: 2px solid blue;
    background-image: url('../img/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.hero-text{
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e2555c;
    font-size: 35px;
    font-weight: 500;
}
.content-text{
    margin: 30px auto 40px auto;
    color: #e2555c;
    font-size: 25px;
}


/**********About**********/
.aboutMe{
    text-align: center;
    padding: 15px 0 3px 0;
    color: #e2555c;

}
.aboutMe-description{
    padding: 0 30px;
    font-size: 15px;
    margin-bottom: 60px;
}
.aboutProfile{
    width: 100%;
}
.aboutProfile img{
    width: 80%;
    height: auto;
}
/* .aboutMe-image{
    width: 100%;
    height: auto;
}
.aboutProfile{
    width: 100%;
    height: auto;
} */

/**********Project**********/
.project-component {
    font-size: 50px;
}
.project-content-text{
    color: #e2555c;
    padding: 20px 0;
}
.project-name{
    font-size: 25px;
    color: #e2555c;
    margin-top: 25px;
}
.project-description{
    margin-top: 15px;
    font-size: 15px;
}
.learnMore-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.learnMore{
    border: 2px solid #e2555c;
    font-size: 12px;
    background-color: white;
    /* border-color: #e2555c; */
    color: #e2555c;
    border-radius: 10px;
    padding: 5px 35px;
    
}
.project-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project1-image{
    border: 2px solid blue;
    width: 100%;
    height: 30vh;
    background-image: url('../img/Innisfree_brochure_1.jpg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: contain;
    background-position: center;
}
.project2-image{
    border: 2px solid blue;
    width: 100%;
    height: 30vh;
    background-image: url('../img/W_magazine_cover.jpg');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: contain;
    background-position: center;
}


/**********Contact**********/
.send-container{
    display: flex;
    justify-content: center;
}
.send{
    color: white;
    background-color: #e2555c;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 25px 0 0 0;
}
.send:hover{
    background-color: #dd4149;
    transition: 0.5s;
}
.contact-form-text{
    color: #e2555c;
    font-size: 40px;
    margin-top: 30px;
    padding: 20px 0;
}
.contact-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*desktop version*/
@media (min-width: 768px) {

    /*Home*/

    /*About*/
    .aboutProfile img{
        width: 30%;
        height: auto;
    }

    /*Contact*/
    .contact-form{
        justify-content: center;
        align-content: center;
    }

    /*Project*/
    .project1-image, .project2-image{
        border: 2px solid red;
        width: 80%;
        height: 65vh;
        background-size: cover;
    }
}

/*
App.js
    Nav
    로고 재배치
    네비게이션 햄버거메뉴로 만들기
    footer
    아이콘 중간에 재배치
Home.js
Project.js
    Learn More button - border, margin
Contact.js
About.js
    profile img 사이즈 조절
*/