/**********Logo & Nav**********/
.logo img {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/**********Footer**********/
footer {
  background-color: #e2555c;
  color: #eee;
  /* position: absolute; */
  /* left: 0;
  bottom: 0; */
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-info{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}
p{
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}
.icon-container{
  display: flex; /*한개의 row로 정렬됨*/
  justify-content: center; /*페이지의 가로 - 가운데로 정렬해줌*/
  /*align-items: center; 페이지의 세로 - 가운데로 정렬*/
  margin-top: 10px;
}
.icon-margin{
  margin-right: 10px;
}
/* .icon{
  align-items: center;
  justify-content: center;
  display: block !important; 
} */

/*desktop version*/
@media (min-width: 768px) {

}