/**********Logo & Nav**********/
.logo img {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  margin-left: 10%;
}

.navstyle{
  margin: 0 20px;
  text-decoration: none;
  color: #333;
}
.navstyle:hover{
  color: #333;
}

.eachPageContainer{
  /* position: relative; */
  overflow-y: hidden;
}
.page {
  position: absolute;
}
.page-enter {
  opacity: 0;
  transform: translateX(-10%);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.page-exit {
  opacity: 0;
  transform: translateX(0);
}
.page-exit-active {
  opacity: 0;
  transform: translateX(10%);
  transition: opacity 300ms, transform 300ms;
}

/**********Footer**********/
footer {
  background-color: #e2555c;
  color: #eee;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-info{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}
p{
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}
.icon-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.icon-margin{
  margin-right: 10px;
}


/*desktop version*/
@media (min-width: 768px) {
  .logo{
    margin-left: 10%;
  }
}