/**********Logo & Nav**********/
.logo img {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/**********Footer**********/
footer {
  background-color: #e2555c;
  color: #eee;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-info{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}
p{
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}
.icon-container{
  display: flex;
  align-items: center;
}
/* .icon{
  align-items: center;
  justify-content: center;
  display: block !important; 
} */

/*desktop version*/
@media (min-width: 768px) {

}